node_modules
public/assets
.pnpm-store

# Output
.output
.vercel
.netlify
.wrangler
.pnpm-store
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
coverage/

# Sentry Config File
.env.sentry-build-plugin

data/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
